
.idea/

src/android/.gradle/5.2.1/executionHistory/executionHistory.bin

src/android/.gradle/5.2.1/executionHistory/executionHistory.lock

src/android/.gradle/5.2.1/fileChanges/last-build.bin

src/android/.gradle/5.2.1/fileHashes/fileHashes.bin

src/android/.gradle/5.2.1/fileHashes/fileHashes.lock

src/android/.gradle/5.2.1/gc.properties

src/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock

src/android/.gradle/buildOutputCleanup/cache.properties

src/android/.gradle/buildOutputCleanup/outputFiles.bin

src/android/.gradle/vcs-1/gc.properties

src/android/gradle/wrapper/gradle-wrapper.jar

src/android/gradle/wrapper/gradle-wrapper.properties

src/android/gradlew

src/android/gradlew.bat
